---
title: Plugins
---
<h2> Plugins</h2>
<p>Plugins allow you to extend foonoo's features. Read more about how to use plugins <a href="./docs/Using-Plugins.html">here</a>.<p>

<div id="plugins">
    {{#plugins}}<div class="plugin">
    <span class="plugin-title"><a href="{{url}}">{{name}}</a></span>
    <span class="plugin-id">{{id}}</span>

    <ul class="plugin-actions">
        <li><a href="{{repo}}">Code</a></li>
        <li><a href="{{url}}">Docs</a></li>
    </ul>

    <div class="plugin-description">{{description}}</div>
    </div>{{/plugins}}
</div>

