<div class="post">
    <div class="time">{{date}} under {{category}}</div>
    <div>
        <h2 class='post-title'>{{title}}</h2>
        {{#previews}}
            {{{preview}}}
            {{#more_link}}<a href="{{path_to_base}}{{path}}">Continue reading</a>{{/more_link}}
        {{/previews}}
        {{^previews}}
            {{{body}}}
            
        <div id="disqus_thread"></div>
        <script type="text/javascript">
            /* * * CONFIGURATION VARIABLES * * */
            var disqus_shortname = 'ekowabakame';
            
            /* * * DON'T EDIT BELOW THIS LINE * * */
            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
            
        {{/previews}}
    </div>
    <div id="bottomnav">
        {{#prev}}
        <div id="prev">
            <a href="../../../{{prev.path}}">{{prev.title}}</a>
        </div>
        {{/prev}}
        {{#next}}
        <div id="next">
            <a href="../../../{{next.path}}">{{next.title}}</a>
        </div>
        {{/next}}
    </div>
</div>
