<div class='achievement'>
    <span class='institution'>{{institution}}</span>
    <span class='duration'>{{duration}}</span>
    <span class='position'>{{position}}</span>
</div>
<p>{{description}}</p>
