<div id='intro-background'></div>
<div id='intro-section'>
    <div style='font-family:Montserrat,sans-serif; font-size:4em; font-weight:bold'>James Ekow Abaka Ainooson</div>
    <div>hi! welcome to my personal website</div>
</div>
<div id='body'>
    <div id='menu-bar'>
        <ul><li>About</li><li>Resume</li><li><a href='blog/index.html'>Blog</a></li></ul>
    </div>
    <div id='wrapper'>
        <div class='section' id='about-section'>
            <h1>About</h1>
            <img style='float:left; margin-right:20px; margin-bottom:10px' src="assets/images/me.jpeg"/>
            <p>
                Hi! ... I'm James Ekow Abaka Ainooson and I live in the Walantu-South section of Kasoa, Ghana. 
                I work as a computer software developer for the National Trust Holding
                Company. Apart from computer programming, I have some interest in
                photography, hip hop beat making, long distance running and cycling. 
            </p>
            <p>
                On this site I have my blog, some of the photos I have
                taken, a few of my projects and my resume.  
            </p>
            <div style='clear:both'></div>
        </div>
        
        <div class='section' id='resume-section'>
            <h1>Resume</h1>
            <h2>Education</h2>
            <div class='achievement'>
                <span class='institution'>University of Ghana</span>
                <span class='duration'>2004 - 2008</span>
                <span class='position'>Bsc. Engineering</span>
            </div>
            <p><b>Major</b> Computer Engineering</p>

            <div class='achievement'>
                <span class='institution'>Accra Academy</span>
                <span class='duration'>2000 - 2003</span>
                <span class='position'>Senior Secondary School Certificate</span>
            </div>
            <p><b>Elective Courses</b> Physics, Chemistry, Mathematics and Geography</p>   
                             
            <h2>Other Training</h2>
            <div class='achievement'>
                <span class='institution'>Ghana Stock Exchange Securities Course</span>
                <span class='duration'>2011</span>
                <span class='position'>Participant</span>
            </div>
            <p><b>Modules</b>
                <ul>
                    <li>Introduction to Investment</li>
                    <li>Financial Markets</li>
                    <li>Corporate Finance</li>
                    <li>Investment Analysis</li>
                    <li>Portfolio Management</li>
                    <li>Securities Trading</li>
                    <li>Legal / Regulatory Framework for financial markets</li>
                </ul>
            </p>

            <h2>Work</h2>
            <div class='achievement'>
                <span class='institution'>National Trust Holding Company</span>
                <span class='duration'>2009 - Present</span>
                <span class='position'>Software Engineer</span>
            </div>              
            <p>Working with a team of corporate finance experts and information technology professionals to find ways of
            improving the delivery of the company's products through the innovative use of information technology.
            Much of the work of the team is geared towards branch-less banking solutions.</p>
            
            <div class='achievement'>
                <span class='institution'>University of Ghana</span>
                <span class='duration'>2008 - 2009</span>
                <span class='position'>Teaching Assistant, Department of Computer Engineering</span>
            </div>              
            <p>Assisting lecturers in preparation, administering and grading of student lab exercises</p>                    
        </div>
    </div>
    
    <div class='section' id='footer-section'>
        <p>Copyright &copy; 2015. James Ekow Abaka Ainooson.</p>
    </div>
    
    </div>
</div>

