<div id='intro-background'></div>
<div id='intro-section'>
    <div style='font-family:Montserrat,sans-serif; font-size:4em; font-weight:bold'>James Ekow Abaka Ainooson</div>
    <div>hi! welcome to my personal website</div>
</div>
<div id='body'>
    <div id='menu-bar'>
        <ul><li>About</li><li>Resume</li><li><a href='blog/index.html'>Blog</a></li></ul>
    </div>
    <div id='wrapper'>
        <div class='section' id='about-section'>
            <h1>About</h1>
            <img style='float:left; margin-right:20px; margin-bottom:10px' src="assets/images/me.jpeg"/>
            <p>
                Hi! ... I'm James Ekow Abaka Ainooson and I live in the Walantu-South section of Kasoa, Ghana. 
                I work as a computer software developer for the National Trust Holding
                Company. Apart from computer programming, I have some interest in
                photography, hip hop beat making, long distance running and cycling. 
            </p>
            <p>
                On this site I have my blog, some of the photos I have
                taken, a few of my projects and my resume.  
            </p>
            <div style='clear:both'></div>
        </div>
        
        <div class='section' id='resume-section'>
            <h1>Resume</h1>
          
            {{#resume}}
                <h2>{{section}}</h2>
                {{#achievements}}
                    {{> resume_entries }}
                {{/achievements}}
            {{/resume}}
            
                             
        </div>
    </div>
    
    <div class='section' id='footer-section'>
        <p>Copyright &copy; 2015. James Ekow Abaka Ainooson.</p>
    </div>
    
    </div>
</div>

