<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <title>{{project.name}}</title>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&amp;family=Open+Sans&amp;display=swap" rel="stylesheet">
        {{{assets_markup.default}}}
    </head>
    <body>
        <div id="project-header-section" class="ashes-banner-background">
            <div id="project-header-container">
                <div id="project-header-items">
                    <div id="title">
                        <a href="{{project.url}}"><img id="project-logo"src="./images/logo.svg" /></a>
                    </div>
                    <nav id="main-navigation">
                        <ul>{{#project.menu}}<li><a href="{{url}}">{{title}}</a></li>{{/project.menu}}</ul>
                    </nav>
                </div>
                <div id="project-tagline">
                    <p>{{project.short_description}}</p>
                </div>
                <div>
                    {{#project.quick_links}}
                    <a class="button ashes-secondary-background" href="{{url}}">{{title}}</a>
                    {{/project.quick_links}}
                </div>
            </div>
        </div>
        <article>
            {{{body}}}
        </article>
    </body>
</html>
