<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ekow Abaka</title>
        <link rel='stylesheet' type='text/css' href='{{home_path}}assets/css/home.css' />
    </head>
    <body>
        <header> 
            <span><a href="https://ekowabaka.me">ekow abaka</a></span> 
            <nav>
                <ul>
                    <li><a href="/projects.html">projects</a></li>
                    <li><a href="/blog">blog</a></li>
                    <li><a href="https://github.com/ekowabaka"><img src="{{home_path}}images/github.svg" /></a></li>
                </ul>
            </nav>
        </header>

        {{{body}}}
    </body>
</html>
