@import url('https://fonts.googleapis.com/css?family=Oleo+Script+Swash+Caps|Roboto|Open+Sans');


body{
    font-family: 'Roboto';
    color: #404040;
}

a{
    color: #3d6299;
    text-decoration: none;
}

.wrapper {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
}

header{
    font-family: 'Oleo Script Swash Caps';
    font-size: 42px;
    text-align: center;
    padding: 40px;
    color: #cf5218
}

h1, h2{
    font-family: 'Open Sans';
    color: #c0c0c0;
    margin: 0px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
}

nav ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: center
}

nav ul > li {
    display: inline-block;
    padding: 10px;
}

nav ul > li > a {
    text-decoration: none;
    color: #808080
}

#about {
    text-align: center;
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
}

#about > img {
    border-radius: 50%; 
    width: 150px;
}

#about > p {
    text-align: justify;
}

#projects-list{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    padding-right: 10px;
}

.project {
    width: 50%;
    padding: 10px;
    box-sizing: border-box
}

.project img {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.project p {
    margin: 0px;
}

.project a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
}

#resume-content {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 20px;
    padding-right: 20px;
}

#resume-content h3 {
    width: 20%;
    margin: 0px;
    border-top: 1px dotted #c9cacc;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 18px;
}

#resume-content .achievements {
    width: 80%;
    border-top: 1px dotted #c9cacc;
    margin-top: 10px;
    padding-top: 10px;
}

.achievement {
    margin-bottom: 20px;
}

.achievement .institution {
    font-weight: bold;
    display: inline-block;
    font-size: 18px;
}

.achievement .address {
    display: inline-block;
    font-size: 18px;
}

.achievement .address::before {
    content: ' ‒ '
}

.achievement .duration {
    display: inline-block;
    color: #a0a0a0;
    font-size: 18px;
}

.achievement .duration::before {
    content: ' ⏺ '
}

.achievement p {
    margin: 0px;
    margin-top: 10px;
    font-size: 0.9em;
    color: #a0a0a0;
}

#publications p {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
}

#publications div {
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}

#publications a{
    margin-right: 10px;
}

#publications a::before {
    content: ' 🖫 '
}
