<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>James Ainooson | {{title}}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">        
        <link rel='stylesheet' type='text/css' href='{{site_path}}assets/css/bundle-default.css' />
        <script type="application/javascript" src="{{site_path}}assets/js/bundle-default.js"></script>
        <!-- Matomo -->
        <script>
        var _paq = window._paq = window._paq || [];
        /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
        _paq.push(['trackPageView']);
        _paq.push(['enableLinkTracking']);
        (function() {
            var u="//matomo.fahodzi.com/";
            _paq.push(['setTrackerUrl', u+'matomo.php']);
            _paq.push(['setSiteId', '1']);
            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
            g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
        })();
        </script>
        <!-- End Matomo Code -->

    </head>
    <body>
        <header> 
            <span><a href="{{home_path}}">james ainooson</a></span> 
            <nav>
                <ul>
                    <li><a href="{{home_path}}projects.html">projects</a></li>
                    <li><a href="{{home_path}}blog/index.html">blog</a></li>
                    <li><a href="{{home_path}}publications.html">publications</a></li>
                    <li><a href="https://github.com/ekowabaka">{{!<img class="icon" src="{{home_path}}{{!images/github.svg" />}}github</a></li>
                </ul>
            </nav>
        </header>

        {{{body}}}
        
    </body>
</html>
